body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #88a9b8;
background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
    color: rgba(255, 160, 0, 1);
    position: absolute;
    overflow-x:auto;
}
nav{
    display: flex;
    justify-content: flex-end;
    /* position:fixed; */
    color: rgba(255, 160, 0, 1);
    text-decoration: none;
    background-color: rgba(124, 124, 124, .85);
    font: bold;
}
nav a:hover{
    color: blue;
}
.nav a{
    color: rgba(255, 160, 0, 1);
}

.landingSection{
    width: 100vw;
    height: 30vh;
}
.jumbotron{
    height: 42vh;
    /* width: 100vw; */
}
.container h1{
    font-size: 100px;
}
.container p{
    font-size: 50px;
}
.aboutBox{
    display:flex;
    justify-content: space-between;
    margin-bottom: 70vh;
}
.about{
    height: 50vh;
    margin-left: 50px;
}
.about h2{
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 20px;
    font-size: 70px;
    transition-duration: 0.3s;
    /* position: relative; */
}
.about h2:hover{
    transform: scale(1.05);
}
#aboutMe{
    margin-top: 100px;
}
.about p{
    margin-top: 80px;
    margin-left: 20px;
    width: 50vw;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
}
.photo{
    height: 30vh;
}
.photo img{
    height: 70vh;
    z-index: 2;
    margin: 0%;
    /* float: right; */
    margin-top: -50px;
    /* margin-left: 60px; */
    justify-content: right;
    margin-right: 80px;
    border-radius: 40px;
    /* position:relative; */
}
#projectsHeader{
    font-size: 80px;
    text-align: center;
}
.projects{
    margin-bottom: 300px;
}
.projects h2{
    margin-bottom: 60px;
}
/*
.projects img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 40px;
    margin: 10px;
} */

.cardDeck{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: black;
}

.contact{
    display: block;
    justify-content: center;
    /* width: 100vw; */
    /* margin-top: 300px; */
    max-width: 800px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, .5);
    border-radius: 30px;
    border: solid 5px;
    margin-bottom: 300px;
}
#contact{
    padding: 20px;
}
form input{
    height: 40px;
    font-size: 13pt;
}
.socialsHead{
    /* font-size: 800px; */
    text-align: center;
    margin-bottom: 100px;
}
.socialsHead h2{
    font-size: 80px;
}

.socials{
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
 }
/* .icons{
    height: 30px; 
} */
/* .icons i{
    height: 60px;
    margin: 0 160px;
} */


/* .labels{
    margin-top: 10px;
    font-size: 10px;
    width: 10px;
} */
.footer{
    height: 40px;
    background-color: rgba(255, 160, 0, 1);
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-bottom: 0;
    font: bold;
}
/* #foot{
    display: flex;
    font-size: larger;
    align-items: center;
} */